<section>
  
  <h3>About Myself</h3>

  <div class="face-lockup">
    <div class="profile-pic"></div>

    <div class="icon-pencil"></div>
    <div class="icon-mouse"></div>
    <div class="icon-browser"></div>
    <div class="icon-video"></div>
  </div>

  <p><strong>Some sentence about yourself here.</strong> blahblahblahshdkjsh jsdhf kjsa hdjf ksjdhk fsdjh fhsahfjkha eufehi tbfbvebifugwaoscjxbbfre.</p>

  <div class="skill-lockup">
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
    <progress value="" max=""></progress>
  </div>

</section>