<section>
	
	<h3 id="clients">Work</h3>

	<div class="client-controls">
		<div class="client-control-next"></div>
		<div class="client-control-prev"></div>
	</div>
	<div class="clients-belt">
		<div class="client-unit">
			<div class="client-avatar">
				<img src="assets/img/clients/ensenta.png" alt="Client's Profile Image">
				<strong class="client-name">Some Name</strong>
				<em class="client-title">Some position</em>
			</div>
			<div class="client-content">
				<p>Some paragraph content for some client's supposed quote.</p>
			</div>			
		</div>

	</div>

	<div class="clients-logo active-client">
		
	</div>

</section>