<section class="section-project" id="projects">

    <h3 class="project">Projects</h3>

    <div>
        <div class="project-row">
            <div class="software">
                <div class="software-contents">
                    <h1 class="project-title">Software</h1>
                    <ul>
                        <li>Web Applications</li>
                        <li>Mobile Applications</li>
                        <li>Hackathon Projects</li>
                        <li>Undergrad Projects</li>
                    </ul>
                    <span>
                        <ul class="software-submenu">
                        </ul>
                    </span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="art-design">
                <div class="art-contents">
                    <h1 class="project-title">Art&Design</h1>
                    <ul>
                        <li>Wireframes</li>
                        <li>Posters/PR Media</li>
                        <li>Figure Drawings</li>
                        <li>Art Portfolio</li>
                    </ul>
                    <span>
                        <ul class="art-submenu">
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="recreational">
            <div class="recreational-contents">
                <h1 class="project-title">Recreational</h1>
                <ul>
                    <li>Hardware/PC Builds</li>
                    <li>Security/Data Science</li>
                    <li>Twitch Streams</li>
                    <li>Raspberry Pi Projects</li>
                    <li>Programming Problems Notebook (Java)</li>
                </ul>
                <span>
                    <ul class="recreational-submenu">
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="contained-section experience-chart">

    </div>

</section>