<section class="section-project" id="projects">

    <h3 class="project">Projects</h3>

    <div class="project-row">
        <div class="software">
            <div>
                <h1 class="project-title">Software</h1>
            </div>
        </div>
        <div class="divider"></div>
        <div class="art-design">
            <div>
                <h1 class="project-title">Art&Design</h1>
            </div>
        </div>
    </div>
    <div class="recreational">
        <h1 class="project-title">Recreational</h1>
    </div>

    <div class="contained-section experience-chart">
        
    </div>

</section>