.about 
  background-color: rgba(224, 192, 105, 1)

.about-section
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 65px
  margin-bottom: 65px

.avatar
  +size(250px)
  border-radius: 50%
  display: inline-block
  background:
    image: url(/assets/img/#{$avatar-path})
    position: center center
    repeat: no-repeat
    size: 100%

@media screen and (max-width: 650px)
  .avatar
    background:
      position: center center
      repeat: no-repeat
    width: 90vw
    height: 90vw
    //padding: 50% 0
    margin: 30px auto 0 auto

  [class^="icon-"]
    margin: 10px 9%

.blurb
  width: 620px
  padding: 0 15px
  font-size: 22px
  text-align: left
  font-weight: 400

  p
    color: rgba(0,0,0,0.7)

    b
      color: rgba(0,0,0,0.9)
      font-weight: 500

@media screen and (max-width: 541px)
  .blurb
    width: 300 px
    font-size: 20px







